body {
  background-color: #e3dbd3;
  padding-top: 2rem;
}

.App {
  text-align: center;
}

.tabView {
  color: #733236;
  margin-top: 2rem;
}

.tabs {
  background-color: #9cb2a5;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.navTab {
  background-color: #c8b7c9;
  width: 70%;
  height: 400px;
  margin: auto;
  border: #733236 solid 1px;
  border-radius: 20px;
  font-size:x-large;
}

button {
  background-color: #9d7982;
  border: #733236 solid 1px;
  color: #733236;
  border-radius: 10px;
  margin: 4px;
  padding: 2px 10px;
}

.selected {
  background-color: #8ba4b3;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
